@import "tailwindcss";

@theme {
  --font-heading: "Inter Tight", sans-serif;
  --font-body: "Inter Tight", sans-serif;
  --font-sans: "Inter Tight", sans-serif;
}

html,
body,
#root {
  font-family: "Inter Tight", sans-serif;
  background: #f2f2f0;
}

body {
  overflow-x: hidden;
}
