@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #0a0503;
}

body {
  font-family: "Manrope", sans-serif;
  background: #0a0503;
  color: #f5ede6;
  overflow-x: hidden;
}

.font-display {
  font-family: "Syncopate", sans-serif;
}
